.booking-popup{
    text-align: center;
}

.booking-popup .green{
    color: green;
}

.booking-popup .red{
    color: red;
}

.booking-widget-date{
    
}


@media screen and (max-width:400px) {
    .booking-widget-date{
        width: 100%;
    }
    
}